# =================
# LLM
# =================
OPENAI_API_KEY=sk-proj-...
ANTHROPIC_API_KEY=sk-....

# =================
# EMBEDDINGS
# =================

EMBEDDING_MODEL="<YOUR EMBEDDING MODEL>"

# =================
# LANGSMITH
# =================
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2...
LANGSMITH_PROJECT="<YOUR PROJECT NAME>"

# =================
# VECTORSTORE
# =================

# - CHROMA
CHROMA_COLLECTION_NAME="<YOUR CHROMA COLLECTION NAME>" 
CHROMA_DIR="<PATH TO YOUR CHROMA COLLECTION>"
# - PINECONE
INDEX_NAME="<YOUR INDEX NAME>"
PINECONE_API_KEY=pcsk_...


# =================
# TAVILY CRAWL
# =================
# CRAWLER
TAVILY_API_KEY=tvly-...


TOP_K=4